n8n/Lab02_mutiagent/03 - Controller Agents.json
{
  "name": "03 - Controller Agents",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Customer Feedback",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Feedback",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        160
      ],
      "id": "70de7122-ef4b-4148-8354-d3bbf4631f17",
      "name": "On form submission",
      "webhookId": "375c3a10-475c-4bef-83ed-ad53ccb8b276"
    },
    {
      "parameters": {
        "inputText": "={{ $json.Feedback }}",
        "options": {
          "categories": "Positive, Neutral, Negative"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        224,
        160
      ],
      "id": "3d86b2f8-15fb-4e52-a432-6fc4399d19ff",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        880,
        128
      ],
      "id": "0c409ef6-ab56-4014-93a8-fd21034c94fb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "6xqOCDswiNtQaELh",
          "name": "Google Gemini - Infinitas"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "wkczzm2rBfFhHda2",
          "mode": "list",
          "cachedResultName": "Demo - Feedback",
          "cachedResultUrl": "/projects/ub0gHsXZWtLuH4Lq/datatables/wkczzm2rBfFhHda2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Negative": false,
            "Name": "={{ $('On form submission').item.json.Name }}",
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Feedback": "={{ $('On form submission').item.json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Negative",
              "displayName": "Negative",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        576,
        16
      ],
      "id": "f4a15e18-3453-4f5b-90bd-f5cd81088a66",
      "name": "Add Positive Feedback"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "wkczzm2rBfFhHda2",
          "mode": "list",
          "cachedResultName": "Demo - Feedback",
          "cachedResultUrl": "/projects/ub0gHsXZWtLuH4Lq/datatables/wkczzm2rBfFhHda2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Negative": true,
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Feedback": "={{ $json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Negative",
              "displayName": "Negative",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        576,
        304
      ],
      "id": "2e0edd03-97cd-4636-bf2b-1b95561b674a",
      "name": "Add Negative Feedback"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "ขอขอบคุณสำหรับข้อเสนอแนะอันมีค่าของคุณ",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1152,
        16
      ],
      "id": "a75fe913-c647-40e5-a912-78f62a5cf099",
      "name": "Send a message Positive",
      "webhookId": "4f5b4a2a-c4d9-4f4c-bc59-e368988ba313",
      "credentials": {
        "gmailOAuth2": {
          "id": "jFP0uKLc99wDvU8y",
          "name": "Gmail account - Bond"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "เราขออภัยในความไม่พึงพอใจที่เกิดขึ้น",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1152,
        304
      ],
      "id": "b63d002b-3783-4d98-87fd-59d9ffa26983",
      "name": "Send a message Negative",
      "webhookId": "c63e2243-56f7-47cc-828b-0b58e1a68794",
      "credentials": {
        "gmailOAuth2": {
          "id": "jFP0uKLc99wDvU8y",
          "name": "Gmail account - Bond"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ชือลูกค้า: {{ $('On form submission').item.json.Name }}\nFeedback: {{ $('On form submission').item.json.Feedback }}",
        "options": {
          "systemMessage": "# Persona\nคุณเป็นตัวแทนฝ่ายลูกค้าสัมพันธ์ของบริษัท CodeBangkok ซึ่งเป็นบริษัทด้านระบบอัตโนมัติด้วย AI ที่เชี่ยวชาญในการช่วยเหลือธุรกิจขนาดกลางและขนาดย่อม (SME) ในการนำ AI Agent และโซลูชันระบบอัตโนมัติด้วย AI ไปใช้ \n\n# Instruction\nเขียนคำตอบเป็นภาษาไทยที่เป็นมิตรต่อ Feedback ของลูกค้า\nลงชื่อ สุรศักย์ อัครอมรพงศ์ CodeBangkok\n\n# Output Format \nHTML email  \n\n# Constraints\nReturn only HTML code, do not include ```html"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        800,
        -96
      ],
      "id": "a579190b-581f-4a3f-983a-5dbf65cdebf7",
      "name": "Positive Response Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ชือลูกค้า: {{ $('On form submission').item.json.Name }}\nFeedback: {{ $('On form submission').item.json.Feedback }}",
        "options": {
          "systemMessage": "=You are a helpful assistant# Persona\nคุณเป็นตัวแทนฝ่ายลูกค้าสัมพันธ์ของบริษัท CodeBangkok ซึ่งเป็นบริษัทด้านระบบอัตโนมัติด้วย AI ที่เชี่ยวชาญในการช่วยเหลือธุรกิจขนาดกลางและขนาดย่อม (SME) ในการนำ AI Agent และโซลูชันระบบอัตโนมัติด้วย AI ไปใช้ \n\n# Instruction\nเขียนคำตอบที่สุภาพและกระชับสำหรับคำติชมของลูกค้า\nอีเมลควรขอบคุณลูกค้าสำหรับข้อเสนอแนะเกี่ยวกับบริการ รับทราบข้อกังวลของพวกเขา และแจ้งว่าเรื่องนี้ได้ถูกส่งต่อไปยังผู้บริหารแล้ว เสนอให้ขยายแพ็กเกจระบบอัตโนมัติปัจจุบันของลูกค้าด้วยการผสานรวม AI Agent เพิ่มอีกหนึ่งรายการโดยไม่มีค่าใช้จ่ายเพิ่มเติม\nลงชื่อ สุรศักย์ อัครอมรพงศ์ CodeBangkok\n\n# Output Format \nHTML email  \n\n# Constraints\nReturn only HTML code, do not include ```html"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        800,
        304
      ],
      "id": "fce539fb-71a1-41ac-82f6-fd712eb51775",
      "name": "Negative Response Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Positive Response Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Negative Response Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Add Positive Feedback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Negative Feedback",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add Positive Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Positive Feedback": {
      "main": [
        [
          {
            "node": "Positive Response Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Negative Feedback": {
      "main": [
        [
          {
            "node": "Negative Response Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Positive Response Agent": {
      "main": [
        [
          {
            "node": "Send a message Positive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Negative Response Agent": {
      "main": [
        [
          {
            "node": "Send a message Negative",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "93c407dd-f1ed-41ae-aa72-6d19026429bc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee5edca9416beed08d06915105e46640c3ae110aa9ff064d91fafb6c029cb71a"
  },
  "id": "eJq-NOeOEiylkK8O87424",
  "tags": []
}