n8n/Lab01_agent/06 - Embedding.json
{
  "name": "06 - Embedding",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Cm7MVyQVvj9GHMR8n1mmGhElESIEkEro",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Cm7MVyQVvj9GHMR8n1mmGhElESIEkEro"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -96
      ],
      "id": "85d4e567-daa6-4577-ae31-3dacbe20e1f8",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZbHEFhJCdUNIPXzE",
          "name": "Google Drive account - Bond"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        -96
      ],
      "id": "c5529afa-5af3-4f9e-9cd7-e11341a74588",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZbHEFhJCdUNIPXzE",
          "name": "Google Drive account - Bond"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        448,
        128
      ],
      "id": "316ca603-eb3d-4367-a934-53242fa4ca95",
      "name": "Embeddings Azure OpenAI",
      "credentials": {
        "azureOpenAiApi": {
          "id": "Q5SD3ooWc5Cn23cC",
          "name": "Azure Open AI account - Bond"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        576,
        128
      ],
      "id": "b2e5c36d-da4f-4f39-bccf-abbdaa68242a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rental-agreement",
          "mode": "list",
          "cachedResultName": "rental-agreement"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        -96
      ],
      "id": "68d987ba-8868-48f1-b36b-e2c6cde42802",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "IxFSAtmjF3d9VmTj",
          "name": "PineconeApi account - Bond"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a71ff177-c764-4b54-a6f6-91742f6a62e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee5edca9416beed08d06915105e46640c3ae110aa9ff064d91fafb6c029cb71a"
  },
  "id": "NxEX-wtmDdVM7MJgr3ZsS",
  "tags": []
}