n8n/Lab01_agent/11 - Embedding XDrone.json
{
  "name": "11 - Embedding XDrone",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1MnuGX-TJJ4r-t_WfIMZkvpLqk8XOIrHg",
          "mode": "list",
          "cachedResultName": "arise",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1MnuGX-TJJ4r-t_WfIMZkvpLqk8XOIrHg"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "44a230a3-8673-4b73-8cc3-1a71f353594c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZbHEFhJCdUNIPXzE",
          "name": "Google Drive account - Bond"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "36536356-61c0-4e23-8622-bb6984e61205",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZbHEFhJCdUNIPXzE",
          "name": "Google Drive account - Bond"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "xdrone",
          "mode": "list",
          "cachedResultName": "xdrone"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "07c75c52-0c53-4a77-85fe-f3c0fbc705b4",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "IxFSAtmjF3d9VmTj",
          "name": "PineconeApi account - Bond"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        336,
        208
      ],
      "id": "4e92bb86-ac21-4ba4-8a35-8ea192dbb040",
      "name": "Embeddings Azure OpenAI",
      "credentials": {
        "azureOpenAiApi": {
          "id": "Q5SD3ooWc5Cn23cC",
          "name": "Azure Open AI account - Bond"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "5787bdb6-d8ed-4e0b-9100-97541a2865c0",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d392d6e2-6701-4a65-9566-1203187cd32d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee5edca9416beed08d06915105e46640c3ae110aa9ff064d91fafb6c029cb71a"
  },
  "id": "QMeSwn3YdFZbLNtQCQ09T",
  "tags": []
}